/* A&B.module.css */

.articlesBlogsSection {
  padding: 40px;
  /* background-color: #000; */
  color: white;
}

.sectionTitle {
 
  text-align: center;
  background: linear-gradient(76deg,#9130F4,#4646F9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  margin-bottom:2.5rem;
  
 
}

.articleCard {
  display: flex;
  background: linear-gradient(0deg,#1F1F1F,#000000,#1E1E1E);
  border:2px solid #000000;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.articleImage {
  width: 40%;
  object-fit: cover;
}

.articleContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 60%;
  justify-content: space-evenly;
}


.articleTitle {
  color:#FFFFFF;
  letter-spacing: 0px;
  line-height: auto;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 10px;
}

.articleDescription {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}

.articleFooter {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #aaa;
 


}



@media (max-width:600px){
  .articleCard {
    flex-direction: column;
    
  }
  .articlesBlogsSection{
    padding: 20px;
  }

  .articleImage {
    width: 100%;
  }

  .articleContent {
    width: 96%;
    padding: 10px;
  }

  .articleTitle {
    font-size: 16px;
  }

  .articleDescription {
    font-size: 12px;
  }
  .sectionTitle{
    font-size: 30px;
  }
  .articleFooter{
    font-size:12px;
    justify-content: space-between;
  }
}


@media screen and (min-width:601px) and (max-width: 800px) {
  .articleCard {
    flex-direction: column;
  }
  .articlesBlogsSection {
    padding: 20px;
  }

  .sectionTitle {
    font-size: 40px;
  }

  .articleTitle {
    font-size: 20px;
  }

  .articleDescription {
    font-size: 18px;
  }

  .articleFooter {
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
  }

  .articleFooter span {
    margin-bottom: 5px;
  }
  .articleImage {
    width:100%;
    object-fit: cover;
  }
  .articleContent {
    width: 96%;
    padding: 10px;
  }


}
@media screen and (min-width:801px) and (max-width: 1200px) {
  .articlesBlogsSection {
    padding: 20px;
  }

  .sectionTitle {
    font-size: 35px;
  }

  .articleTitle {
    font-size: 18px;
  }

  .articleDescription {
    font-size: 13px;
  }

  .articleFooter {
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
  }

  .articleFooter span {
    margin-bottom: 5px;
  }
  .articleImage {
    width:50%;
    object-fit: cover;
  }
  .articleContent {
    width: 50%;
    padding: 10px;
  }


}
@media screen and (min-width:1201px) and (max-width: 1400px) {
  .articlesBlogsSection {
    padding: 20px;
  }

  .sectionTitle {
    font-size: 45px;
  }

  .articleTitle {
    font-size: 20px;
  }

  .articleDescription {
    font-size: 15px;
  }

  .articleFooter {
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
  }

  .articleFooter span {
    margin-bottom: 5px;
  }
  .articleImage {
    width:50%;
    object-fit: cover;
  }
  .articleContent {
    width: 50%;
    padding: 10px;
  }


}
