/* A&B.module.css */

.articlesBlogsSection {
  padding: 40px;
  /* background-color: #000; */
  color: white;
}

.sectionTitle {
 
  text-align: center;
  background: linear-gradient(76deg,#9130F4,#4646F9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-bottom:2.5rem;
  
 
}

.articleCard {
  display: flex;
  background-color: #222;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.articleImage {
  width: 40%;
  object-fit: cover;
}

.articleContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 60%;
  justify-content: space-evenly;
}


.articleTitle {
  color:#FFFFFF;
  letter-spacing: 0px;
  line-height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  margin-bottom: 10px;
}

.articleDescription {
  font-size: 15px;
  margin-bottom: 10px;
}

.articleFooter {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #aaa;
 


}

.articleSource {
  font-style: italic;
}

.articlePublishedDate {
  font-style: italic;
}


@media (max-width:480px){
  .articleCard {
    flex-direction: column;
  }

  .articleImage {
    width: 100%;
  }

  .articleContent {
    width: 100%;
    padding: 10px;
  }

  .articleTitle {
    font-size: 20px;
  }

  .articleDescription {
    font-size: 14px;
  }
}


@media (max-width: 800px) {
  .articlesBlogsSection {
    padding: 20px;
  }

  .sectionTitle {
    font-size: 28px;
  }

  .articleTitle {
    font-size: 18px;
  }

  .articleDescription {
    font-size: 12px;
  }

  .articleFooter {
    flex-direction: column;
    align-items: flex-start;
  }

  .articleFooter span {
    margin-bottom: 5px;
  }
}
