

.testimonialsSection {
  padding: 40px;
  color: white;
}

.sectionTitle {
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  color: #6b3eff;
  letter-spacing: -3px;
  word-spacing: -10px;
  margin-bottom: 2.5rem;
}

.testimonialsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;

}

.testimonialCard {
  background-color: #191919;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.testimonialCard:hover {
  transform: translateY(-10px);
}

.highlighted {
  border: 2px solid #8A2BE2;
}

.testimonialImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: -70px;


}

.testimonialName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonialPosition {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 20px;
}

.testimonialDescription {
  font-size: 14px;
  line-height: 1.5;
  text-align:center;
}
