
.testimonialsSection {
  padding: 40px;
  color: white;
}

.sectionTitle {
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;

  background: linear-gradient(77deg,#4646F9,#9130F4);
  background-clip: text;
  -webkit-background-clip: text;
 color: transparent;

}
.testimonialCard {
  background: 
    linear-gradient(-89deg, #191919, #000000, #191919),
    linear-gradient(0deg, #1E1E1E, #000000, #1F1F1F);
  background-clip: border-box;
  color: transparent;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border: 2px solid #4C4C4C;
}

/* .testimonialCardOdd > div {
 

 
  
 
} */


.testimonialCard:hover {
  transform: translateY(-10px);
}



.testimonialImage {
  width: 191px;
  height:191px;
  margin:auto;
  margin-top: -50px;
  margin-bottom: 10px;


}

.testimonialName {
  font-size: 35px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 35px;
}

.testimonialPosition {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 12px;
  line-height: 35px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 

.testimonialDescription {
  font-size: 15px;
  color: #ffffff;
  line-height: 25px;
 
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
} 

@media screen and (max-width:600px){
  .testimonialImage {
    width: 111px;
    height: 111px;
    margin-top: -50px;
    margin-bottom: 0px;
  
  
  }
  .testimonialName {
    font-size: 24px;
   
  }
  
  .testimonialPosition {
    font-size: 16px;
    color: #aaa;
    margin-bottom: 10px;

  } 
  
  .testimonialDescription {
    font-size: 12px;
  
  } 
  .sectionTitle {
    
    font-size: 30px;
    letter-spacing: -1px;
    text-transform: uppercase;
    
  
  }

  


}
@media screen and (min-width:600px) and (max-width:1200px){
  .testimonialImage {
    width: 111px;
    height: 111px;
    margin-top: -50px;
    margin-bottom: 0px;
  
  
  }
  .testimonialName {
    font-size: 24px;
   
  }
  
  .testimonialPosition {
    font-size: 18px;
    color: #aaa;
    margin-bottom: 10px;

  } 
  
  .testimonialDescription {
    font-size: 13px;
  
  } 
  .sectionTitle {
    
    font-size: 35px;
    letter-spacing: -1px;
    text-transform: none;
    
  
  }

  


}
@media screen and (min-width:1200px) and (max-width:1400px){
  .testimonialImage {
    width: 111px;
    height: 111px;
    margin-top: -50px;
    margin-bottom: 0px;
  
  
  }
  .testimonialName {
    font-size: 24px;
   
  }
  
  .testimonialPosition {
    font-size: 16px;
    color: #aaa;
    margin-bottom: 10px;

  } 
  
  .testimonialDescription {
    font-size: 12px;
  
  } 
  .sectionTitle {
    
    font-size: 45px;
    letter-spacing: -1px;
    text-transform: none;
    
  
  }

  


}
