:root{
  --background-color:#000000;
  --btn-color:#fff;
  --btn-text-color:#222;
  --project-card-bg:#fff;
  --text-color:#fff;
  --from-text-color:#fff;
  --footer-text-color:#bbb;
}

.slick-slide >div{
  padding-top:50px;
  margin:0 30px;
}